//@import "~bootstrap/scss/bootstrap";


.movie-controls {
  width: 18rem;
  top: 2rem;
  left: -1px;
  z-index: 2;
}

.add-button {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 2000;
}

.movie-deck {
  margin-bottom: 100px;
}
