<div class="card movie-card" style="width: 18rem;">
  <!--<div class="movie-controls btn-group btn-group-sm">
    <button type="button" class="btn btn-danger btn-sm" (click)="delete()"> <i class="far fa-trash-alt text-right"></i></button>
    <button type="button" class="btn btn-secondary btn-sm"> <i class="fas fa-edit"></i></button>
  </div>-->
  <img class="card-img-top" [src]="movie.poster || 'assets/missing-poster.png'" alt="Move poster" (click)="togglePoster()">
  <div class="card-img-overlay" [ngClass]="{'full-poster': fullPoster}">
    <h5 class="card-title">{{movie.title}}</h5>
    <dl class="row">
      <dt class="col-sm-6">Release Year</dt>
      <dd class="col-sm-5">{{movie.release_year}}</dd>

      <dt class="col-sm-6">Format</dt>
      <dd class="col-sm-5">{{movie.format}}</dd>

      <dt class="col-sm-6">Length</dt>
      <dd class="col-sm-5">{{formattedLength()}}</dd>

      <dt class="col-sm-6">Rating</dt>
      <dd class="col-sm-5">
        <ngb-rating class="movie-rating" [(rate)]="movie.rating" max="5"></ngb-rating>
      </dd>
    </dl>
  </div>
</div>
