.movie-card {
  height: 26rem;
  width: 18rem;

  .card-img-top {
    cursor: pointer;
    height: 100%;
  }

  .card-img-overlay {
    top: auto;
    background-color: #fff;
    min-height: 16rem;

    &.full-poster {
      visibility:hidden;
      opacity:0;
      transition:visibility 0.2s linear,opacity 0.2s linear;
    }
  }

  .movie-rating {
    font-size: 1.5rem;
  }
}
